body {
    overflow-y: scroll;
    top: -20px;
    right: -40px;
    bottom: -40px;
    width: 100% !important;
    overflow-wrap: break-word;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    background-color: #f4f3fb;
    font-size: 16px;
    margin: 0;
}

.nav a {
    font-size: 13px;
    padding: 93px 32px 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
}

.nav a:hover {
    color: red !important;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.col-md-4 {
    width: 20.33333333% !important;
}

.col-md-8 {
    width: 70.66666667% !important;
}

.button {
    background-color: #fefefe;
    border: 0;
    margin: 4.0rem 0 0;
    border-radius: 0.3rem;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    color: #0c0000;
}

.button a{
  color: #0c0000 !important;
}


.banner {
    padding: 115px 0 200px;
    text-align: center;
    margin-bottom: 20px;
}

.banner h1 {
    font-family: 'Pacifico', Times;
    font-size: 55px;
    color: #fbfaff;
    margin: 5px;
    font-weight: 700;
}

h2,
h3,
p {
    font-family: Arial, sans-serif;
    color: black;
}

.about {
    padding: 150px 30px;
}

.about p {
    text-align: left;
    margin: 0;
    font-family: 'Patua One', 'sans-serif', Arial;
    color: #868686;
    font-size: 15px;
    padding-bottom: 20px;
}


}

.heading {
    position: relative;
    display: inline-block;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.about h2 {
    color: #374054;
}

h2 {
    font-family: 'Patua One', sans-serif;
    color: black;
    font-size: 28px;
}

h3 {
    font-family: 'Patua One', sans-serif;
    color: #9A84A3;
    font-size: 24px;
}

.banner p {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
}

.main {
    padding: 100px 15px;
}

.lead {
    background: url('../images/laptop.jpg') no-repeat 0 15px;
    background-size: cover;
    background-position: center;
    background-color: lightblue;
}

footer {
    padding: 100px;
    background-color: #1b131b;
    color: #fff;
}


footer p.made-by-me {
    margin: 9px 0;
    color: #fff;
}

.copyright {
    padding-top: 20px;
}

.social {
    text-align: right;
}

.social li {
    display: inline-block;
    list-style: none;
}

.social a {
    display: block;
    color: #fff;
    padding: 10px;
    display: inline-block;
}

.social a:hover {
    color: red;
}

.me {
    background-color: #f9f5f3;
}

section {
    padding: 0 0 100px;
}

small {
    text-align: center;
    line-height: 190%;
    font-size: .70em;
}

.wip {
    background-color: #eee;
}

.hidden {
    display: none;
    color: red;
}

.show {
    font-size: 20px;
    color: #fff;
    font-family: Arial, sans-serif;
}

