body {
  overflow-y: scroll;
  top: -20px;
  right: -40px;
  bottom: -40px;
  width: 100% !important;
  overflow-wrap: break-word;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background-color: #f4f3fb;
  font-size: 16px;
  margin: 0;
}


a.button-ghost {
    margin: 4.0rem 0 0;
    font-size: 1.7rem;
    border: 2px solid #FED766;
    height: auto;
}

.col-md-4 {
    width: 20.33333333% !important;
}

.col-md-8 {
    width: 70.66666667% !important;
}

.button {
    background-color: transparent;
    padding: 1rem 2rem;
    cursor: pointer;
    width: auto;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
}

.button:hover {
  background-color: #c6bbf2;
}

.banner {
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 20px;
}

.banner a {
  color: #fff;
}

.banner h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: #c6bbf2;
  margin: 5px;
  font-weight: 700;
}

h2, h3, p {
  font-family: Arial, sans-serif;
  color: black;
}

.about {
  padding: 100px 30px;
}

.about p {
    text-align: left;
    color: #74808a;
    margin: 0;
    font-family: 'Patua One', 'sans-serif', Arial;
}
 
 .heading {
    position: relative;
    display: inline-block;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.about h2 {
  color: #374054;
}  

h2 {
  font-family: 'Patua One', sans-serif;
  color: black;
  font-size: 28px;
}

h3 {
  font-family: 'Patua One', sans-serif;
  color: #9A84A3;
  font-size: 24px;
}

.banner p {
  font-size: 20px;
  color: #fff;
}

.lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
}

.lead {
    position: relative;
    max-height: 1080px;
    overflow: hidden;
    padding: 100px 15px;
    background:  url('../images/laptop.jpg') no-repeat 0 15px;
    background-size: cover;
    background-position: center;
    width: 100% !important;
  }

footer {
    padding: 100px;
    background-color: #1b131b;
    color: #fff;
}


footer p.made-by-me {
    margin: 9px 0;
    color: #fff;
}

.copyright {
    padding-top: 20px;
}

.social {
    text-align: right;

}

.social li {
    display: inline-block;
    list-style: none;
}

.social a {
    display: block;
    color: #fff;
    padding: 10px;
    display: inline-block;
}

.social a:hover {
  color: #2d60db;
}

.me {
  background-color: #f9f5f3;
}

section {
  padding: 0 0 100px;
}

small {
    text-align: center;
    line-height: 190%;
    font-size: .70em;
 }

.wip {
    background-color: #eee;
}

.hidden {
  display: none;
  color: red;
}

.show {
  font-size: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.navbar {
  margin-bottom: 0 !important;
}

